public/index.html
<!DOCTYPE html>
<html lang="ru" class="no-js">
  <head>
    <!-- Meta tags-->
    <meta charset="utf-8">
    <title>Test page</title>
    <meta name="description" content="Description">
    <meta name="keywords" content="Keywords">
    <meta name="author" content="Author">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <!-- Links tags-->
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="css/base.css">
  </head>
  <body>
    <section id="main-container" class="b-clearfooter">
      <!-- Блок 'Header'-->
      <header id="b-header">
        <div class="container">
          <div class="header-module--logo navbar-header"><a href="#" class="navbar-brand">Some Logo</a></div>
          <div class="header-module--menu">
            <ul class="navbar-nav">
              <li class="active"><a href="#">Главная</a></li>
              <li><a href="#">Новинки</a></li>
              <li><a href="#">Архив</a></li>
              <li><a href="#">Блоги</a></li>
              <li><a href="#">Сообщество</a></li>
            </ul>
          </div>
          <div class="header-module--login">
            <div class="insidemodule--menu">Anton <span class="el-icons icon--triangle-bottom"></span>
              <div class="insidemodule--img"><img src="img/other-images/login-images/login-image-1.jpg" alt=""></div>
            </div>
            <div class="insidemodule--button">
              <button type="button" class="btn btn--style-1">Выход</button>
            </div>
          </div>
        </div>
      </header>
      <!-- Блок 'Content'-->
      <article id="b-content">
        <div class="container">
          <div style="background-image: url(&quot;img/other-images/bg-images/content-header-image-bg.jpg&quot;)" class="content-module--header el-common--padding">
            <div class="insidemodule--header">
              <div class="insidemodule--search">
                <form action="/" method="post" name="formSearch">
                  <button type="submit" class="btn btn--style-search">Search</button>
                  <input type="text" placeholder="Искать фильмы..." class="form-control form-element--input-search">
                </form>
              </div>
              <h1>Аноним / Anonymous (2011)</h1>
            </div>
            <div class="insidemodule--link"><a href="#"><span class="el-icons icon--content-module-header-link"></span><span class="insideelement--text">пойти на премьеру</span></a></div>
          </div>
          <div class="content-module--carusel el-common--padding">
            <h2>Кино новинки</h2>
            <div class="insideelement--carusel el-carusel--type-1 event-el--carusel">
              <div class="insidemodule--item">
                <div style="background-image: url(&quot;img/other-images/carusel-images/image-1.jpg&quot;)" class="insidemodule--img">
                  <div class="insidemodule--header">Star Wars
                    <div class="el--stars">
                      <ul>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="insidemodule--link"><a href="#">Подробнее</a></div>
              </div>
              <div class="insidemodule--item">
                <div style="background-image: url(&quot;img/other-images/carusel-images/image-2.jpg&quot;)" class="insidemodule--img">
                  <div class="insidemodule--header">Аватар
                    <div class="el--stars">
                      <ul>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="insidemodule--link"><a href="#">Подробнее</a></div>
              </div>
              <div class="insidemodule--item">
                <div style="background-image: url(&quot;img/other-images/carusel-images/image-3.jpg&quot;)" class="insidemodule--img">
                  <div class="insidemodule--header">Титаник 3D
                    <div class="el--stars">
                      <ul>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="insidemodule--link"><a href="#">Подробнее</a></div>
              </div>
              <div class="insidemodule--item">
                <div style="background-image: url(&quot;img/other-images/carusel-images/image-1.jpg&quot;)" class="insidemodule--img">
                  <div class="insidemodule--header">Star Wars
                    <div class="el--stars">
                      <ul>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="insidemodule--link"><a href="#">Подробнее</a></div>
              </div>
              <div class="insidemodule--item">
                <div style="background-image: url(&quot;img/other-images/carusel-images/image-2.jpg&quot;)" class="insidemodule--img">
                  <div class="insidemodule--header">Аватар
                    <div class="el--stars">
                      <ul>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="insidemodule--link"><a href="#">Подробнее</a></div>
              </div>
              <div class="insidemodule--item">
                <div style="background-image: url(&quot;img/other-images/carusel-images/image-3.jpg&quot;)" class="insidemodule--img">
                  <div class="insidemodule--header">Титаник 3D
                    <div class="el--stars">
                      <ul>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li class="active"></li>
                        <li></li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="insidemodule--link"><a href="#">Подробнее</a></div>
              </div>
            </div>
          </div>
          <div class="content-module--article el-common--padding">
            <h2>Nullam viverra purus lectus!</h2>
            <p>Morbi at dolor non dui ornare molestie. Maecenas elit nisi, suscipit sit amet lacus id, tempor commodo libero. Pellentesque vitae libero lacus. Sed eu velit viverra tortor pellentesque ornare. Donec eu porta velit. Nullam tempus augue eu erat placerat gravida. Aliquam aliquam nec lectus ut sagittis. Donec urna nunc, pharetra et nisl ut, efficitur lobortis ante. In hac habitasse platea dictumst. Donec dignissim volutpat quam in volutpat. Curabitur eget arcu ut neque venenatis porta. Vivamus in mi quis dui porttitor placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus.</p>
            <p>Cras dapibus ligula sed tincidunt suscipit. Mauris facilisis elementum laoreet. Aenean suscipit id lacus et euismod. Donec auctor egestas augue. Sed ut risus eget leo fringilla elementum.</p>
            <div class="insidemodule--button">
              <div class="insidemodule--container">
                <button type="button" class="btn btn--style-2">Lorem ipsut</button>
                <p>
                  Сonsequat mattis tortor dignissim
                  
                  
                  
                </p>
              </div>
            </div>
          </div>
        </div>
      </article>
      <!-- Блок 'Clearfooter'-->
      <div class="insidemodule--line"></div>
    </section>
    <!-- Блок 'Footer'-->
    <footer id="b-footer">
      <div class="container">
        <div class="el-common--padding">
          <div class="footer-module--copyright">
            © 2015 Some company<br>
            Все права защищены
          </div>
          <div class="footer-module--menu">
            <ul>
              <li>
                <ul>
                  <li>Онлайн сервисы:</li>
                  <li><a href="#">Фильмы</a></li>
                  <li><a href="#">Сериалы</a></li>
                  <li><a href="#">Мультфильмы</a></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>Сотрудничество:</li>
                  <li><a href="#">Правообладателям</a></li>
                  <li><a href="#">Наши партнеры</a></li>
                  <li><a href="#">Реклама на сайте</a></li>
                </ul>
              </li>
              <li>
                <ul>
                  <li>О нас:</li>
                  <li><a href="#">О проекте</a></li>
                  <li><a href="#">Пользовательское соглашение</a></li>
                  <li><a href="#">Поддержка</a></li>
                  <li><a href="#">Вакансии</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </footer>
    <!--[if lt IE 9]-->
    <script src="js/ie/html5shiv/es5-shim.min.js"></script>
    <script src="js/ie/html5shiv/html5shiv.min.js"></script>
    <script src="js/ie/html5shiv/html5shiv-printshiv.min.js"></script>
    <script src="js/ie/respond/respond.min.js"></script>
    <!--[endif]-->
    <!-- Script tags-->
    <script src="js/libs.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>

assets/template/index.jade
doctype html
html(lang='ru', class="no-js")
    head
        // Meta tags
        meta(charset='utf-8')
        title Test page
        meta(name='description', content='Description')
        meta(name='keywords', content='Keywords')
        meta(name='author', content='Author')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
        meta(property='og:image', content='path/to/image.jpg')

        // Links tags
        link(rel='shortcut icon', href='img/favicon/favicon.ico', type='image/x-icon')
        link(rel='apple-touch-icon', href='img/favicon/apple-touch-icon.png')
        link(rel='apple-touch-icon', sizes='72x72', href='img/favicon/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon', sizes='114x114', href='img/favicon/apple-touch-icon-114x114.png')

        link(rel='stylesheet', href='css/base.css')

    body
        section#main-container.b-clearfooter
            // Блок 'Header'
            include elements/header

            // Блок 'Content'
            article#b-content
                .container
                    .content-module--header.el-common--padding(style='background-image: url("img/other-images/bg-images/content-header-image-bg.jpg")')
                        .insidemodule--header
                            .insidemodule--search
                                form(action='/', method='post', name='formSearch')
                                    button(type='submit', class='btn btn--style-search') Search
                                    input(type='text', class='form-control form-element--input-search', placeholder='Искать фильмы...')
                            h1 Аноним / Anonymous (2011)
                        .insidemodule--link
                            a(href='#')
                                span.el-icons.icon--content-module-header-link
                                span.insideelement--text пойти на премьеру

                    .content-module--carusel.el-common--padding
                        h2 Кино новинки
                        include elements/carusel-type-1

                    .content-module--article.el-common--padding
                        h2 Nullam viverra purus lectus!
                        p.
                            Morbi at dolor non dui ornare molestie. Maecenas elit nisi, suscipit sit amet lacus id, tempor commodo libero. Pellentesque vitae libero lacus. Sed eu velit viverra tortor pellentesque ornare. Donec eu porta velit. Nullam tempus augue eu erat placerat gravida. Aliquam aliquam nec lectus ut sagittis. Donec urna nunc, pharetra et nisl ut, efficitur lobortis ante. In hac habitasse platea dictumst. Donec dignissim volutpat quam in volutpat. Curabitur eget arcu ut neque venenatis porta. Vivamus in mi quis dui porttitor placerat. Interdum et malesuada fames ac ante ipsum primis in faucibus.
                        p.
                            Cras dapibus ligula sed tincidunt suscipit. Mauris facilisis elementum laoreet. Aenean suscipit id lacus et euismod. Donec auctor egestas augue. Sed ut risus eget leo fringilla elementum.
                        .insidemodule--button
                            .insidemodule--container
                                button(type='button', class='btn btn--style-2') Lorem ipsut
                                p.
                                    Сonsequat mattis tortor dignissim



            // Блок 'Clearfooter'
            .insidemodule--line

        // Блок 'Footer'
        include elements/footer

        //[if lt IE 9]
        script(src='js/ie/html5shiv/es5-shim.min.js')
        script(src='js/ie/html5shiv/html5shiv.min.js')
        script(src='js/ie/html5shiv/html5shiv-printshiv.min.js')
        script(src='js/ie/respond/respond.min.js')
        //[endif]

        // Script tags
        script(src='js/libs.js')
        script(src='js/app.js')
